//1360x750
@use './common.scss' as *;

#slide_wrap {
    width:1360px; height:750px;
    background-color:#ffffd4;
    margin:0 auto;
    background-image:url(../images/home_chun_yellow.png);
    @include bg_img; background-size:800px auto; background-position-x:500px;
    border-radius:50px;
    overflow:hidden;
    .slide_container {
        .slide {
            padding:100px 80px 150px;
            .title_contents {background:aqua;
                .title {font-size:$font-title; font-weight:$weight-bold; margin:0;}
                .sub_title {font-size:$font-sub; font-weight:$weight-semi;margin-bottom:250px;}
            }
            .bnr_link {
                .edu {background:$btn-dark; color:#fff; font-size:$font-btn;
                    @include slide_btn;}
                .news {color:#000; border:1px solid $btn-dark; font-size:$font-btn;
                    @include slide_btn;}
                    img {transform:translateY(5px); padding:0 5px;}
            }
        }
        .slide_fixed {
            .slide_bar {
                .current_pg {}
                .bar {}
                .total_pg {}
            }
            .btn {
                #pre_btn {}
                #next_btn {}
            }
        }
    }
}